
<!-- we will render login.ejs in user controller -->
<html>
    <head>
        <title> <%= title %> </title>

    <link rel="stylesheet" href="/css/signUp.css">


    </head>


    <body>
        <h1> <%= title %> </h1>

        <!-- <form action="/users/create-session" method="GET">
            <input type="text" name="email" placeholder="Enter your email" required>
            <input type="text" name="password" placeholder="Enter your password" required>
            <button type="submit"> Login</button>
        </form> -->

        <div>
            <form action="/users/create-session" method="post">
              <label for="email">Email</label>
              <input type="email" id="fname" name="email" placeholder="Your email">
          
              <label for="password">Password</label>
              <input type="password" id="lname" name="password" placeholder="Your password">          
            
              <input type="submit" value="Login">
            </form>
          </div>
    </body>
</html>